job "{{ at_demo_name }}" {
  datacenters = ["{{ hashicorp_datacenter_name }}"]
  type        = "service"

  // For demo purposes only, spread over all but first client.
  constraint {
    attribute = "${node.unique.id}"
    operator  = "!="
    value     = "{{ nomad_first_client_node_id.stdout }}"
  }

  group "{{ at_demo_name }}" {
    count = {{ at_demo_group_count }}

    network {
      port "{{ at_demo_port_name }}" {
        to = 80
      }
    }

    service {
      name = "{{ at_demo_name }}"
      port = "{{ at_demo_port_name }}"

      tags = [
        "traefik.enable=true",
        "traefik.http.routers.{{ at_demo_name }}.entrypoints=https",
        "traefik.http.routers.{{ at_demo_name }}.rule={{ at_demo_service_tag_traefik_rule }}",
      ]

      check {
        name     = "check if demo is alive"
        type     = "http"
        path     = "/"
        interval = "10s"
        timeout  = "2s"
      }

    }

    task "{{ at_demo_name }}" {

      env {
        NODE_IP     = "${NOMAD_IP_{{ at_demo_port_name }}}"
        HOST_PORT   = "${NOMAD_HOST_PORT_{{ at_demo_port_name }}}"
        MAPPED_PORT = "${NOMAD_PORT_{{ at_demo_port_name }}}"
      }

      driver = "docker"
      config {
        image      = "{{ at_demo_task_config_image }}"
        ports      = ["{{ at_demo_port_name }}"]
        force_pull = {{ at_demo_force_pull }}
      }

      resources {
        cpu    = {{ at_demo_task_resources_cpu_mhz }}
        memory = {{ at_demo_task_resources_mem_mb }}
      }

    }

  }

}
