job "traefik" {
  datacenters = ["{{ hashicorp_datacenter_name }}"]
  type        = "service"

  // For demo purposes, keep this job on the first client.
  constraint {
    attribute = "${node.unique.id}"
    operator  = "="
    value     = "{{ nomad_first_client_node_id.stdout }}"
  }

  group "traefik" {
    count = 1

    network {
      port "http" {
        static = 80
      }

      port "https" {
        static = 443
      }

      port "api" {
        static = 8081
      }
    }

    service {
      name = "traefik"

      check {
        name     = "alive"
        type     = "tcp"
        port     = "http"
        interval = "10s"
        timeout  = "2s"
      }
    }

    task "traefik" {

      driver = "docker"
      config {
        image        = "{{ traefik_demo_docker_image }}"
        network_mode = "host"

        volumes = [
          "local/traefik.toml:/etc/traefik/traefik.toml",
          "local/ssl:/etc/traefik/ssl",
        ]
      }

      artifact {
        source = "http://{{ hostvars[groups.servers | first].ansible_host }}/{{ ssl_webapp_filename }}-cert.pem"
        destination = "local/ssl/tls.crt"
        mode = "file"
      }

      artifact {
        source = "http://{{ hostvars[groups.servers | first].ansible_host }}/{{ ssl_webapp_filename }}-key.pem"
        destination = "local/ssl/tls.key"
        mode = "file"
      }

      template {
        data = <<EOF
[entryPoints]
  [entryPoints.http]
    address = ":80"
  [entryPoints.https]
    address = ":443"
  [entryPoints.traefik]
    address = ":8081"

[api]
  dashboard = true
  insecure  = true
[pilot]
  dashboard = false

# Enable Consul Catalog configuration backend.
[providers.consulCatalog]
  prefix           = "traefik"
  exposedByDefault = false

  [providers.consulCatalog.endpoint]
    address = "127.0.0.1:8500"
    scheme  = "http"

# Dynamic rules go hashicorp_datacenter_name
[providers.file]
  directory = "/local/rules"
  watch = true

EOF

        destination = "local/traefik.toml"
      }

      template {
        data = <<EOF
tls:
  certificates:
    - certFile: /etc/traefik/ssl/tls.crt
      keyFile: /etc/traefik/ssl/tls.key
EOF
        destination = "local/rules/ssl.yml"
      }

      resources {
        cpu    = 100
        memory = 128
      }

    }

  }

}
