{% if ansible_hostname in groups['clients'] %}
nameserver 127.0.0.1
{% else %}
nameserver {{ ansible_host }}
{% endif %}
{% for server in dnsmasq_default_domain_servers %}
nameserver {{ server }}
{% endfor %}