[Unit]
Description="HashiCorp Consul - A service mesh solution"
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty={{ consul_etc_directory }}/consul.hcl

[Service]
Type=exec
User=consul
Group=consul
ExecStart={{ consul_binary }} agent -config-dir={{ consul_etc_directory }}/
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
