ui = true

storage "consul" {
  address = "http://localhost:8500"
  path    = "vault/"
  # token   = "<VAULT_SERVICE_TOKEN>"
}

cluster_address = "{{ ansible_host }}:8201"
api_address     = "{{ ansible_host }}:8200"

listener "tcp" {
  address            = "0.0.0.0:8200"
  tls_cert_file      = "{{ ssl_member_certfile_path }}"
  tls_key_file       = "{{ ssl_member_keyfile_path }}"
  tls_client_ca_file = "{{ ssl_ca_certfile_path }}"
  tls_disable        = 1
}
